#define CREATE_ACTION_BTN(r, data, elem) \
	"<button id=\"" BOOST_PP_TUPLE_ELEM(0, elem) "-btn\" onclick=\"" BOOST_PP_TUPLE_ELEM(1, elem) "\">" BOOST_PP_TUPLE_ELEM(2, elem) "</button>" \

#define CREATE_HEADER(r, data, tpl) \
	"<div class=\"td header " BOOST_PP_TUPLE_ELEM(0, tpl) "\">" \
		BOOST_PP_TUPLE_ELEM(1, tpl) \
	"</div>"
#define CREATE_FILTER(r, data, elem) \
	BOOST_PP_IF( \
		BOOST_PP_SUB(BOOST_PP_TUPLE_ELEM(2, elem), 1), /* 0 for 0 and 1; 1 for 2 */ \
		"<div class=\"td " BOOST_PP_TUPLE_ELEM(0, elem) "\">" \
			"<input type=\"text\" placeholder=\"" BOOST_PP_TUPLE_ELEM(3, elem) "\"/>" \
		"</div>", \
		"<div class=\"td\"></div>" \
	)
#define CREATE_SORT(r, data, elem) \
	BOOST_PP_IF( \
		BOOST_PP_TUPLE_ELEM(2, elem), \
		"<div class=\"td sort " BOOST_PP_TUPLE_ELEM(0, elem) "\"><a>Sort</a></div>", \
		"<div class=\"td\"></div>" \
	)
#define CREATE_HIDE(r, data, tpl) \
	"<div class=\"td hide " BOOST_PP_TUPLE_ELEM(0, tpl) "\"><a>Hide</a></div>"

"<div class=\"table\" id=\"" TBL_ID "\">"

	"<div id=\"" TBL_ID "-action-btns\" class=\"action-btns\">"
#ifdef IS_SELECTABLE
		// Display examples of what each selection colour means
		"<a onclick=\"" MINIMISED_JS_DECL_toggle "('selection-help')\">" SVG_INFO_CIRCLE "</a>"
# undef IS_SELECTABLE
#endif
		"<button onclick=\"" MINIMISED_JS_DECL_next_page "('" TBL_ID "',-1)\" class=\"next-page\">&#9666;</button>"
		"<button onclick=\"" MINIMISED_JS_DECL_next_page "('" TBL_ID  "',1)\" class=\"next-page\">&#9656;</button>"
		"<button onclick=\"" MINIMISED_JS_DECL_filter_tbl "('" TBL_ID "'," TBL_NAME_COLS "," TBL_TAGS_COLS ");\">Filter</button>"
#ifdef ACTION_BTNS
BOOST_PP_SEQ_FOR_EACH(CREATE_ACTION_BTN, _, BOOST_PP_VARIADIC_SEQ_TO_SEQ(ACTION_BTNS))
# undef ACTION_BTNS
#endif
#undef CREATE_ACTION_BTN
	"</div>"

"<div class=\"thead\">"
	// Name row
	"<div class=\"tr\">"
BOOST_PP_SEQ_FOR_EACH(CREATE_HEADER, _, BOOST_PP_VARIADIC_SEQ_TO_SEQ(COLS))
#undef CREATE_HEADER
	"</div>"

	// Filter row
	"<div class=\"tr\">"
BOOST_PP_SEQ_FOR_EACH(CREATE_FILTER, _, BOOST_PP_VARIADIC_SEQ_TO_SEQ(COLS))
#undef CREATE_FILTER
	"</div>"

	// Sort row
	"<div class=\"tr\">"
BOOST_PP_SEQ_FOR_EACH(CREATE_SORT, _, BOOST_PP_VARIADIC_SEQ_TO_SEQ(COLS))
	"</div>"
#undef CREATE_SORT
	"<div class=\"tr\">"
BOOST_PP_SEQ_FOR_EACH(CREATE_HIDE, _, BOOST_PP_VARIADIC_SEQ_TO_SEQ(COLS))
	"</div>"
#undef COLS
#undef CREATE_HIDE
"</div>"
"<div class=\"tbody\"></div>"
"</div>"

#undef TBL_ID
#undef TBL_NAME_COLS
#undef TBL_TAGS_COLS
