"<div class=\"table\" id=\"" TBL_ID "\">"

#ifdef COL1_NAME
"<div class=\"thead\">"
	"<div class=\"tr\"><button class=\"filter-btn\" onclick=\"filter_tbl('" TBL_ID "'," TBL_NAME_COLS "," TBL_TAGS_COLS ");\">Filter</button></div>"

	// Name row
	"<div class=\"tr\">"
		"<div class=\"td\">"
			COL1_NAME
		"</div>"
# ifdef COL2_NAME
		"<div class=\"td\">"
			COL2_NAME
		"</div>"
# endif
# ifdef COL3_NAME
		"<div class=\"td\">"
			COL3_NAME
		"</div>"
# endif
	"</div>"

	// Filter row
	"<div class=\"tr\">"
		"<div class=\"td\">"
# ifdef COL1_IS_STR
			"<input type=\"text\" placeholder=\"regexp\"/>"
# endif
		"</div>"
# ifdef COL2_NAME
		"<div class=\"td\">"
#  ifdef COL2_IS_STR
			"<input type=\"text\" placeholder=\"regexp\"/>"
#   undef COL2_IS_STR
#  endif
		"</div>"
# endif
# ifdef COL3_NAME
		"<div class=\"td\">"
#  ifdef COL3_IS_STR
			"<input type=\"text\" placeholder=\"regexp\"/>"
#   undef COL3_IS_STR
#  endif
		"</div>"
# endif
	"</div>"

	// Sort row
	"<div class=\"tr\">"
		"<div class=\"td sort\">"
# ifdef COL1_IS_STR
			"Sort"
#  undef COL1_IS_STR
# endif
		"</div>"
# ifdef COL2_NAME
		"<div class=\"td sort\">Sort</div>"
#  undef COL2_NAME
# endif
# ifdef COL3_NAME
		"<div class=\"td sort\">Sort</div>"
#  undef COL3_NAME
# endif
	"</div>"

"</div>"
#  undef COL1_NAME
# endif
"<div class=\"tbody\"></div>"
"</div>"

#undef TBL_ID
#undef TBL_NAME_COLS
#undef TBL_TAGS_COLS
